[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
websockets = "*"
starlette = "*"
uvicorn = "*"
aiofiles = "*"
pyyaml = "*"
webargs-starlette = "*"

[dev-packages]
guid = "*"
ipython = "*"

[requires]
python_version = "3.7"
